<% if(data.length) { %>
    <h1>Articles list</h1>

    <ul>
    <% _.forEach(data, function (article) { %>
        <li><a href="/article/<%= article.id %>"><%= article.title %></a></li>
    <% }); %>
    </ul>
<% } else { %>
    <h1>There are no articles for the moment</h1>
<% } %>

<p><a href="/article/new">Create an article</a></p>